.filter{
    background:#f4f4f4;
    width:238px;
    height:38px;
    font-family:Roboto-Italic;
    font-size:14px;
    /*color:#9b9b9b;*/
    color:rgba(155, 155, 155, 0.74);
    letter-spacing:0px;
    line-height:19px;
    padding-left: 12px;
    border:none;
    margin-right: 38px;
    background: url(../Assets/arrow.png) no-repeat right #f4f4f4;
    -webkit-appearance: none;
    background-position-x: 204px;
}
.filter option{
    height: 100px;
}